  </div>
                <div class="w-full lg:w-8/12 lg:pt-8">
                    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">

                            <a href="https://github.com/Barrerse">
                            <img class="md:block hidden" src="/assets/img/01.png" alt="Sebastians PFP" />
                            <img class="md:hidden block" src="/assets/img/01.png" alt="Sebastians PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Sebastian Barrera</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                              <a href="https://github.com/cl-czayas">
                            <img class="md:block hidden" src="/assets/img/02.png" alt="Christopher PFP" />
                            <img class="md:hidden block" src="/assets/img/02.png" alt="Christopher PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Christopher Cristóbal</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <a href="https://github.com/almoral323">
                            <img class="md:block hidden" src="/assets/img/03.png" alt="Alfredos PFP" />
                            <img class="md:hidden block" src="/assets/img/03.png" alt="Alfredos PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Alfredo Morales</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <a href="https://github.com/MartinCespedes">
                            <img class="md:block hidden" src="/assets/img/04.jpg" alt="Martins PFP" />
                            <img class="md:hidden block" src="/assets/img/04.jpg" alt="Martins PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Martin Cespedes</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
